<div class="row row-0">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-sm">
    <div class="panel panel-default">
      <div class="panel-heading">
        Bienvenue sur Flore Sentinelle
      </div>
      <div class="panel-body">
          <p>
            Identifier et comprendre les dynamiques démographiques des espèces végétales et des habitats, sentinelles pour le suivi des changements globaux dans les Alpes françaises.
          </p>
          <p><em>Un projet commun pour la connaissance et la gestion de la flore à l’échelle des Alpes.</em></p>
      </div>
    </div>
  </div>
</div>