<div class="container-fluid ">
  <div class="row">
    <div class="col-xl-8">
      <div class="row justify-content-start">
        <div class="col-md-6 mb-1">
          <div class="jumbotron text-justify mb-3">
            <p>
              Ce module «&nbsp;<strong>Stratégie Conservation</strong>&nbsp;»
              constitue un outil de gestion et de planification des actions de
              conservation de la flore sur
              <a
                href="https://cbn-alpin.fr/presentation/territoire"
                target="_blank"
              >
                le territoire d'agrément</a
              >
              du
              <a href="https://cbn-alpin.fr/" target="_blank">CBNA</a>
            </p>

            <p>
              Il a été développé dans le cadre de
              <a
                href="https://cbn-alpin.fr/scalp"
                target="_blank"
                >la stratégie de conservation de la flore alpine (SCALP)</a
              >, mais a pour vocation de regrouper des informations concernant tous
              les taxons vasculaires prioritaires en région AuRA, PACA et sur le
              domaine alpin.
            </p>
          </div>

          <img
              src="assets/conservation_strategy/assets/templates/flora_patchwork.jpg"
              class="img-fluid img-thumbnail"
              alt="Patchwork de fleurs"
            />
        </div>
        <div class="col-md-6 mb-1">
          <img
              src="assets/conservation_strategy/assets/templates/activity_patchwork.jpg"
              class="img-fluid img-thumbnail mb-3"
              alt="Patchwork de fleurs"
            />

          <div class="jumbotron py-3 text-justify">
            <p class="mb-2">
              Après réalisation
              <a href="#/priority_flora">d’un bilan stationnel</a>
              (état des lieux des populations pour les taxons prioritaires), les
              actions de conservation les plus pertinentes sont identifiées (grâce à
              <a
                href="http://cbn-alpin-biblio.fr/GED_CBNA/109798092797/BB_29077.pdf"
                target="_blank"
                >un arbre décisionnel</a
              >), planifiées, et les partenaires potentiels identifiés. Ces données
              sont basculées automatiquement dans ce module «&nbsp;stratégie de
              conservation&nbsp;».
            </p>

            <p class="mb-2">
              Vous trouverez ici les informations et préconisations d’actions
              concernant
              <a href="/#/conservation_strategy/priority-taxa">
                les taxons prioritaires sur votre territoire
              </a>
              et pourrez également compléter les bilans stationnels réalisés.
            </p>

            <p class="mb-0">
              Lorsque les actions identifiées ont été réalisées, merci de mettre à
              jour la fiche action correspondante !
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 d-none d-xl-block text-xl-center">
      <img
          src="assets/conservation_strategy/assets/templates/artemisia_borealis.jpg"
          class="img-fluid img-thumbnail"
          alt="Artemisia borealis"
        />
    </div>
  </div>
</div>

